h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Aldrich, sans-serif;
  font-weight: 100;
  //margin: 2rem 0 ;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

a {
  font-family: "Share Tech Mono", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-decoration: none;
} 

nav a, code {
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}


h6 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}